{% extends "index.html" %}

    {% block content %}
    <header>
 
    <h2 style="text-align:start">Cantact Us</h2>
    <hr>
    <h4 style="text-align:center"> CHINNA OBIGALL ANIL, Developer <br>
Create With Django ,<br>
With Using Frontend & Backend.</h4><br>
<hr>
<h4 style="text-align:center">For any Election related enquiry, Please call our Help Line No:</h3>
    <h3 style="text-align:center">Call Center No: 1950 ( From 10 am to 6 pm ).</h4>
    <hr>
    <h3 style="text-align:center">Address</h3>
    <h4 style="text-align:center">4/3  Yamavaram(v),Muddanur(m),Kadapa(d) pin:516380  Andra Pradesh.  | (Phone: +91-7989927612) |   E-Mail:- chinnaanil649@gmail.com .</h4>
<hr>
<h4 ><--<a href="{% url 'display' %}">home</a></h4>


    {% endblock content %}
